/.tools
/build
/src/Client/bin
/src/Client/obj
/src/Website/bin
/src/Website/obj
/src/Hosted/assets/custom.css
/src/Hosted/bin
/src/Hosted/css
/src/Hosted/js
/src/Hosted/legal
/src/Hosted/node_modules
/src/Hosted/obj
/src/Hosted/posts
/src/Hosted/scripts
*.user
*.bak*
*.done
*.min.css
*.map
*.vs/

*.ionide*
